.container {
    background-color: #F6F6F6;
    height: 100%;
    width: fit-content;
    min-width: 20vw;
    /* max-width: fit-content; */
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12vh;
    transition: all 0.2s ease;
    overflow: hidden;
}

.container.collapsed {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
}

.container .content {
    opacity: 1;
    transition: opacity 0.5s ease;
    transition-delay: 0.1s;

}

.container.collapsed .content {
    opacity: 0;
    transition-delay: 0s;
    transition: opacity 0.2s ease;
}


.dateCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: .5;
    cursor: pointer;
    margin-left: -2px;
}

.dateCategory:hover {
    opacity: 1;
}

.dateCategory h1 {
    font-weight: normal;
    
}

.dateCategory.active {
    opacity: 1;
}



.lastDateCategory {
    margin-bottom: 20px;
}




.icon {
    margin-right: 0.75rem;
    font-size: 15px;
    padding: 2px;
}
