.header {
    text-align: start;
}

.colorIcon {
    height: 15px;
    width: 15px;
    border-radius: .25rem;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.createButton {
    background-color: #3D74BE;
}

.createButton:disabled {
    /* background-color: #3D74BE; */
    opacity: 0.5;
    cursor: not-allowed;
}


.container {
    opacity: 0;
    animation: fadein 0.3s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    
}