.container {
    background-color: #3D74BE;
    /* -webkit-user-select: none; */
    /* -webkit-app-region: drag; */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 35px;
    z-index: 100;
    right: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


button {
    -webkit-app-region: no-drag;
}




.offsetWindowButtons {
    width: 60px;
}


.innerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
}

.left, .right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }

.home {
    margin-left: 5px;
}

.sidebarToggle {
    cursor: pointer;
}

.center {
        -webkit-app-region: drag;
        height: 100%;
        width: 100%;
}

.right {
    justify-content: flex-end;
}

.plus {
    margin-right: 5px;
    cursor: pointer;
}