.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.5 !important;
    cursor: pointer;
}

.container .tab {
    border-radius: .25rem;
    height: 10px;
    width: 10px;
    margin-right: 1.5rem;
    transition: width .2s ease-in-out;
}

.container .text {
    text-align: start;
    font-size: 1.05rem;
    margin-bottom: .8rem;
    margin-top: .8rem;
}

.container:hover {
    opacity: 1 !important;
}

.container.active {
    opacity: 1 !important;
}

.container.active .tab {
    width: 25px;
}